mixin footer()
    footer
        div.container
            div.row
                div.footer-links.col-lg-2.col-lg-offset-2
                    p
                        | Get started
                    ul
                        li
                            a(href="/") Home
                        li
                            a(href="/register") Sign up
                        li
                            a(href="/login") Log in
                div.footer-links.col-lg-2
                    p
                        | About us
                    ul
                        li
                            a(href="https://github.com/ShakinFire") Georgi
                        li
                            a(href="https://github.com/simeon95") Simeon
                        li
                            a(href="https://github.com/Bgsprinter") Kalin
                div.footer-links.col-lg-2
                    p
                        | Support
                    ul
                        li
                            a(href="#") FAQ
                        li
                            a(href="#") Help desk
                        li
                            a(href="#") Forums
                div.footer-links.col-lg-2
                    div.row.footer-icons
                        div
                            a(href="#")
                                i(class="fa fa-github").git-icon
                        div
                            a(href="#")
                                i(class="fa fa-linkedin")
                    div.footer-contact-us
                        a(href="#") Contact us
            div.row
                div.col-lg-8.col-lg-offset-2.bottom-line
            div.copy-right
                p.text-center
                    | Laniakea © 2018
