mixin nav()
    header
        div.container
            nav
                div
                    h2
                        | Laniakea
                div
                    ul.list-unstyles.list-inline
                        li
                            a(href="#")| SIGN UP
                        li
                            a(href="#")| LOGIN