extends ./_shared/master

block video
    section.video-section
        div.darken-video
        div.video-wrapper
            video(src="video/Diagonal.webm" autoplay="true" loop="true")
        div.section-content
            h1
                | CONNECT WITH THE WORLD
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, fugit.
            a.get-started(href="/register") GET STARTED &rarr;