extends ./_shared/master

block content
    div.container
        div.row.home-log
            div.col-lg-5.col-lg-offset-3
                //- form(action="/" method="post").container-style
                div.container-style
                    label
                        | Write a post
                    textarea(name="post_content" placeholder="Whats on your mind" rows="1")#post-message
                    button.post-btn
                        | Post
                div#all-posts-wrapper
                    div.all-posts.container-style
                        div.post-header
                            img(src="img/default_profile.jpg")
                            p
                                a(href="#")| Pavcho Pavchov 
                                br
                                | posted Feb 9'11 at 12:23
                        div.post-content
                            p
                                | This is my first post! I am so much very cool!
                        div.icons-content
                            form(action="/like" method="post")#comment-like
                                div.row
                                    button.like-btn.col-lg-6
                                        div.text-center.btn-wrapper
                                            p
                                                i(class="fa fa-thumbs-o-up" aria-hidden="true")
                                                | Like(0)
                                    button.comment-btn.col-lg-6
                                        div.text-center.btn-wrapper
                                            p
                                                i(class="fa fa-comment-o")
                                                | Comment(0)
            div.col-lg-4
                //- PROBABLY BETTER TO BE 11
                div.latest-activities.col-lg-12.pull-right
                    p.activities-title
                        | Latest activites
                    div.user-info
                        //- EXPECTED TO BE FROM CONTEXT (PROFILE PIC)
                        a(href="#")
                            img(src="img/default_profile.jpg")
                        //- EXPECTED TO BE FROM CONTEXT (NAME)
                        p
                            a(href="#") Pavcho Pavchov
                            | just commented something cool on this post