extends ./_shared/master

block content
    div.background-img-log.bg-img
        div.container
            div.login
                div.login-wrapper.col-lg-5
                    h1
                        | LOGIN
                    form.log-form(action='/login', method='post')
                        div.form-group
                            label Username:
                            input(type='text', name='username', placeholder='Enter username' id="active-window")
                        div.form-group
                            label Password:
                            input(type='password', name='password', placeholder='Enter password')
                        div.form-check
                            input.form-check-input(type='checkbox')#checkbox-field
                            label(for="checkbox-field") Remember me
                        div
                            input.btn-block.login-btn(type='submit', value='Log In')
                        div.forgot-register-wrapper
                            a.forgot(href="#") Forgot password?
                        div.forgot-register-wrapper.sign-up-field
                            p.register
                                | Not a member?
                            a(href="/register")
                                | Sign up now
        
