extends ./_shared/master
include ./_shared/nav-logged

append scripts
    script(src="javascript/profile-menu.js")
    script(src="javascript/profile-nav.js")

block nav-inner-right
    +nav-logged()

block content
        div.container.profile-logged-main
            div.container-top
                div.cover-image.cover-image-hover
                    img#cover-img.cover-img(src= cover_pic)
                div.profile-image.profile-image-hover
                    img#profile-img.profile-img(src= profile_pic)
                div.nav-profile-horizontal
                    ul.nav.nav-tabs.nav-justified
                        li.active(name='home')
                            a(href='#') Home
                        li(role='presentation', name='posts')
                            a(href='#') Posts & Activity
                        li(role='presentation', name='settings')
                            a(href='#') Profile Settings & Privacy
            div.chosen-tab-context
                include ./_profile/home