extends ./_shared/master

block content
    div.background-img-reg.bg-img
        div.container
            div.login
                div.login-wrapper.col-lg-5
                    h1
                        | SIGN UP
                    form.log-form(action='/register', method='post')
                        div.form-group
                            label Username:
                            input(type='text', name='username', placeholder='Enter username')
                        div.form-group
                            label E-mail:
                            input(type='password', name='password', placeholder='Enter email')
                        div.form-group
                            label Password:
                            input(type='password', name='password', placeholder='Enter password')
                        div.form-group
                            label Repeat password:
                            input(type='password', name='password', placeholder='Repeat password')
                        div.form-check
                            input.form-check-input(type='checkbox')#checkbox-field
                            label(for="checkbox-field") agree with terms
                        div
                            input.btn-block.login-btn(type='submit', value='Sign up')
                        div.forgot-register-wrapper.sign-up-field
                            p.register
                                | Already have an account?
                            a(href="/login")
                                | Sign in now
