.profile-logged-main .container-top .profile-image .profile-img:hover {
    opacity: 0.5;
}

.profile-logged-main .container-top .profile-image:hover {
    background-image: url('/img/profile/add_profile.png');
    background-repeat: no-repeat;
    background-size: 40% 40%;
    background-position: 50% 50%;
}

.profile-logged-main .container-top .cover-image .cover-img:hover {
    opacity: 0.5;
}

.profile-logged-main .container-top .cover-image:hover {
    background-image: url('/img/profile/add_profile.png');
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position: 50% 50%;
}
