/* ================================= GLOBALS ================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

html { /* used for sticky footer */
  height: 100%;
  box-sizing: border-box;
}

body {
  background: rgb(241, 240, 248);
  font-family: 'Roboto', sans-serif;

  /* for background img covering the rest of the space to footer */
  display: flex;
  flex-flow: column;

  /* used for sticky footer */
  position: relative;
  min-height: 100%;
  padding-bottom: 19.8rem;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ================================= NAVIGATION ================================= */
header {
  background: #7F8DAD;
}

header h2 {
  color: white;
  font-weight: 600;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
}

header nav li {
  margin-left: 10px;
}

header nav a {
  color: white;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

header nav a:hover {
  color: #57505C;
}

/* ================================= LOGIN / REGISTER ================================= */
.bg-img {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /* for background img covering the rest of the space to footer (body reference)*/
  flex: 1 1 auto;
}

.login {
  display: flex;
  justify-content: center;
}

.log-form {
  margin-top: 5px;
  color:  #57505C;
  font-size: 16px;
  padding: 50px 50px;
}

.login .login-wrapper {
  margin: 80px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgb(117, 117, 117);
  background-color: whitesmoke;
}

.login h1 {
  text-align: center;
  margin-top: 30px;
  font-weight: bold;
  color: #57505C;
}

.login input {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 5px;
  font-size: 17px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #57505C;
  border-radius: 0;
}

.login .form-group input {
  width: 100%;
  display: block;
}

.form-check {
  color: #57505C;
  margin-top: 25px;
}

.login .log-form .form-check label {
  margin-left: 8px;
  font-size: 12px;
}

.login .login-btn {
  background: #57505C;
  color: white;
  border: 0px;
  border-radius: 3px;
  margin: 20px 0;
}

.login .login-btn:hover {
  background: rgb(125, 116, 131);
}

.login .forgot-register-wrapper {
  text-align: center;
}

.login .log-form a {
  color: #57505C;
  font-size: 13px;
  text-decoration: underline;
  display: block;
  margin-bottom: 10px;
}

.login .log-form a:hover {
  color: rgb(117, 114, 114);
}

.login .register {
  margin-right: 6px;
  font-size: 13px;
}

.login .sign-up-field {
  display: flex;
  justify-content: center;
}

/* ================================= VIDEO SECTION ================================= */
.video-section {
  position: relative;
  height: 750px; /* NOTE: when creating the responsive design, lower that value */
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  color: white;
}

.video-section .section-content{
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9999;
}

.video-section .darken-video {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0c18257e;
}

.video-section .section-content h1 {
  font-size: 55px;
  margin-bottom: 20px;
}

.video-section .section-content p {
  font-size: 18px;
}

.video-section .get-started {
  display: inline-block;
  margin-top: 5px;
  color: rgb(98, 198, 255);
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  margin-bottom: 20px;
}

.video-section .get-started:hover {
  border-bottom: 2px solid rgb(98, 198, 255);
}

/* ================================= HOME-LOGGED ================================= */
.home-log form {
  display: flex;
  justify-content: center;
  background: white;
  margin-top: 15px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(117, 117, 117);
}

.home-log form .text-wrapper {
  width: 90%;
  padding: 10px 0;
}

.home-log form label {
  font-size: 14px;
  color: rgb(150, 150, 150);
}

.home-log textarea {
  resize: none;
  display: block;
  padding: 5px 7px;
  font-size: 16px;
  overflow: hidden;
  width: 100%;
  border-radius: 3px;
  box-shadow: inset 0 0 1px rgb(117, 117, 117);
  background: rgb(248, 248, 248);
  margin-top: 10px;
}

.home-log button {
  margin-top: 10px;
  padding: 5px 15px;
  font-size: 16px;
  font-weight: 550;
  color: white;
  background: rgb(10, 165, 255);
  border: 0;
  border-radius: 3px;
}

.home-log button:hover {
  background: rgb(10, 139, 214);
}

.home-log .latest-activities {
  padding: 7px 20px 7px 12px;
  background: white;
  margin: 15px 0;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(117, 117, 117);
}

.home-log .latest-activities .activities-title {
  color: rgb(150, 150, 150);
  margin-bottom: 10px;
  font-size: 15px;
}

.home-log .user-info {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid rgb(150, 150, 150);
}

.home-log .user-info img {
  width: 40px;
  height: 40px;
  border-radius: 3px;
}

.home-log .user-info p {
  color: rgb(102, 102, 102);
  margin-left: 10px;
}

.home-log .user-info p a {
  color: rgb(68, 68, 68);
  font-weight: 600;
  padding-right: 4px;
}

/* ================================= PROFILE-LOGGED ================================= */
.profile-logged-main {
  position: relative;
  margin-top: 15px;
  height: auto;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(117, 117, 117);
}

.profile-logged-main .user-main-images .cover-image {
  margin-top: 15px;
  position: relative;
  height: 200px;
  width: 100%;
  background-color: white;
  border-radius: 3px;
}

.profile-logged-main .user-main-images .cover-image .cover {
  height: 200px;
  width: 100%;
  border-radius: 3px;
}

.profile-logged-main .user-main-images .cover-image .profile-image img {
  width: 100px;
  height: 100px;
  background-color: white;
  position: absolute;
  bottom: 10px;
  left: 20px;
  border-radius: 20px;
}

.profile-logged-main .nav-profile-horizontal {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-logged-main .chosen-tab-context {
  padding: 7px 20px 7px 12px;
}

/* ================================= FOOTER ================================= */
footer {
  background: #7F8DAD;
  padding: 30px 0 15px 0;
  color: white;

  /* used for sticky footer */
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

footer .footer-links p {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 7px;
}

footer .footer-links a {
  font-size: 13px;
  margin-bottom: 5px;
  color: #d2d1d1;
}

footer .footer-links a:hover {
  color: #57505C;
  text-decoration: underline;
}

footer .footer-contact-us a {
  font-size: 16px;
  font-weight: 600;
  color: #57505C;
  padding: 7px 20px;
  border: 2px solid #57505C;
  border-radius: 3px;
}

footer .footer-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 25px;
}

footer .footer-icons i {
  font-size: 40px;
}

footer .git-icon {
  margin-right: 20px;
}

footer .footer-contact-us a:hover {
  color: white;
  background: #57505C;
  text-decoration: none;
}

footer .bottom-line {
  margin-top: 30px;
  border-bottom: 1px solid #57505C;
}

footer .copy-right {
  margin-top: 15px;
}