script(src="javascript/profile-settings.js")
link(rel='stylesheet', type='text/css', href='stylesheets/profile-settings.css')

// - Form for submitting new profile or cover image.
form#upload-form.upload-form(action="/profile/upload", method="POST", enctype="multipart/form-data")
    input#upload-field.upload-field(accept="image/*", type="file", name="image")
    input#which-image.which-image(type="text", name="which-image")

// - The rest of the settings page.
div.col-md-offset-3.col-md-6
    form.form-horizontal.form-update-info(action="/profile/update", method="POST")
        div.jumbotron
            p Update the information in your profile...
        div.form-group.form-group-row
            div.col-md-6
               input.form-control(type="text", name="first_name" placeholder="First name", value= first_name)
            div.col-md-6
                input.form-control(type="text", name="last_name" placeholder="Last name", value= last_name)
        div.form-group.form-group-row
            div.col-md-12
                textarea.form-control(rows="5", name="description", placeholder="Write down your description here...")
                    | #{description}
        div.form-group.form-group-row
            div.col-md-4
                input.form-control(type="date", name="birthday", placeholder="Pick up your birthday date.", value= birthday)
            div.col-md-8
                input.form-control(type="text", name="address", placeholder="Enter your address, e.g Sofia, Bulgaria, blvd Al. Malinov...", value= address)
        hr
        div.form-group.form-group-row
            div.col-md-12
                span.help-block Change email
                div.input-group
                    span.input-group-addon
                        i.glyphicon.glyphicon-envelope
                    input.form-control(type="text", name="email", placeholder= email)
        hr
        div.form-group
            div.col-md-12
                span.help-block Change password?
                div.input-group
                    span.input-group-addon
                        i.glyphicon.glyphicon-lock
                    input.form-control(type="password", name="password")
                span.help-block Repeat the password.
                div.input-group
                    span.input-group-addon
                        i.glyphicon.glyphicon-lock
                    input.form-control(type="password", name="password")
        hr
        div.form-group
            div.col-md-offset-2.col-md-8
                button.btn.btn-info.btn-block.btn-update-info(type="submit")
                    | Save changes